*{
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1490px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}